<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Business_Logic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
 
      
    </system.serviceModel>
  <appSettings>
    <add key="MAIL_HOST" value=""/>
    <add key="MAIL_PORT" value="25"/>
    <add key="MAIL_FROM" value=""/>
    <add key="MAIL_BCC" value=""/>
    <add key="MAIL_SYSTEMADMIN" value=""/>
    <add key="SysAdmin" value=""/> 
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="MobileIP" value=""/>

	 <add key="IsProduction" value="Y"/>
     <add key="HOSTNAME" value="www.kuofongweb.com.tw"/>

	  <add key="KF_DB" value="Data Source=ERP;Initial Catalog=KF_DB;User ID=sa;Password=juestcho;"/>
	  <add key="AE_DB" value="Data Source=ERP;Initial Catalog=AE_DB;User ID=sa;Password=juestcho;"/>
	  

  <!--

       <add key="IsProduction" value="false" /> 
        <add key="KF_DB" value="Data Source=ERP;Initial Catalog=KF_DB;User ID=sa;Password=juestcho;"/>
	  <add key="AE_DB" value="Data Source=ERP;Initial Catalog=AE_DB;User ID=sa;Password=juestcho;"/>
-->
   
    
    
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
